button {
    display:block;
    width:800px;
    padding:10px 15px;
    font-size:16px;
    color:#fff;
    background-color:#007BFF;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition:background-color 0.3s ease;
}

button:hover {
    background-color:#0056b3;
}

div#gameContainer {
    width:1000px;
    margin:0 auto;
    padding:0 20px;
    background-color:#f9f9f9;
    border:1px solid #ddd;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
}